<html ng-app="myApp">
<head lang="en">
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/ng-grid/2.0.11/ng-grid.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.8.2/jquery.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.1/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ng-grid/2.0.11/ng-grid.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-base64/2.0.5/angular-base64.min.js"></script>

    <style>
        .gridStyle {
            border: 1px solid rgb(212,212,212);
            width: 90%;
            height: 700px;
            margin-left: 40px;
        }
    </style>
</head>
<body ng-controller="MyCtrl">
<h1 align="center">List of ING ATMs in different dutch cities</h1>
<div align="center" class="gridStyle" ng-grid="gridOptions">
</div>
<script type="text/javascript">
    var app = angular.module('myApp', ['ngGrid', 'base64']);
    app.controller('MyCtrl', function($scope, $http, $base64) {
        var auth = $base64.encode("user:password"),
            headers = {"Authorization": "Basic " + auth};
        $http.get('http://localhost:8089/demo/api/atms', {headers: headers})
            .then(function(response) {
            $scope.myData = response.data;
        });

        $scope.gridOptions = {
            data: 'myData',
            columnDefs: [
                {field:'address.city', displayName:'City'},
                {field:'address.street', displayName:'Street'},
                {field:'address.housenumber', displayName:'House No.'},
                {field:'address.postalcode', displayName:'Postal Code'},
                {field:'address.geoLocation.lat', displayName:'Lattitude'},
                {field:'address.geoLocation.lng', displayName:'Longitude'},
                {field:'distance', displayName:'Distance'},
                {field:'type', displayName:'Type'},
                {field:'createdAt', displayName:'Create Date', cellFilter: 'date:\'MM/dd/yyyy HH:MM:ss\''}
            ],
            jqueryUIDraggable: true,
            showGroupPanel: true,
            enableColumnResize: true
        };
    });
</script>
<body>
</html>